html {
    background: black;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

.NavBar {
    background: #004a63;
    height: 100%;
    text-align: left;
    font-size: 3em;
}
.main {
    font-size: 1.5em;
    border: 1px solid grey;
    box-shadow: 3px 3px 3px grey;
    padding: 30px;
}
.overview {
    display: flex;
    width: 30%;
    height: 2567px;
    background: #212e31;
}

.main-body {
    display: flex;
}

h1 {
    font-weight: lighter;
    font-size: 1em;
    margin: 50px 0px;
    color: lightgrey;
}

ul {
list-style: none;
text-align: left;
}
li {
    color: white;
    padding-left: 5px;
}
li:hover {
    background-color: grey;
    border-left: 5px solid #004a63;
}

.link {
    text-decoration: none;
    color:white;
}
